body{
    font-family: 'Consolas';
    margin: 0;
}
.game{
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
}
.start-screen{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    width: 500px;
background: purple;
position: absolute;
left: 50%;
top: 40%;
transform: translate(-50%);
}
.start-screen:hover{
    background-color: lightcoral;
    cursor: pointer;
}